services:
  docs:
    container_name: svetlanna-docs
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    restart: unless-stopped
    networks:
      - gateway-net

networks:
  gateway-net:
    external: true
